<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>228290483385-otfhdrabi5risvt0d3glf0d0msf3cehv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228290483385-otfhdrabi5risvt0d3glf0d0msf3cehv</string>
	<key>API_KEY</key>
	<string>AIzaSyBJYpXu_M2ZvxGI8Mi1u0a8GTnjel8S-Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>228290483385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BP.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-1d585</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-1d585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:228290483385:ios:2bc92df8ce020e1f</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediaapp-1d585.firebaseio.com</string>
</dict>
</plist>